SECRET_KEY=abcdefghijlmnopqrstuvxz
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost

DATABASE_URL=postgres://postgres:password@localhost:5432/database

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_VIRTUAL_HOST=